
#banner {
    width:95vw;
    height:70vh;

 }

#bannerimg {
    max-width:100%;
    height:auto;
    max-height:100%;
 }


 #linkbar {
    float: left;

 }

 body {background-color: #717276;

 }

 #homelink {
    color: #8E8180;

 }

#portfoliolink {
    color: #8E8180;
    
 }

 #contactlink {
    color: #8E8180;
    
 }

 #channels {
    float: left;
    color: #8E8180;
    
 }

 a {
    color: #8E8180;
    font-size: 40px;
    
 }

 li {
     float: left;
     clear: left;
 }

 #footercontainer {
     clear: left;
 }

 #elevatorbio {
    margin: auto;
    clear: left;
    s
 }

 #headshot {
     float: left;
     margin: auto;
 }

 p {
     font-size: 20px;
 }
